@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p style="font-family:'Lobster'">
            "Contoso University is place for young insipiring IT majors.
            To come and learn and grow to get ready for their future careers.
            So please come join us at Contoso University." - Bryan McNeil
        </p>
        <img src="~/images/uniPhoto.jpg" alt="University Students"/>
    </div>
</div>